
CONFIG=./config/
CONFIG_FILENAME=trackerConfig.json
UPDOWN_PERCENT=2

LOG=./log/
LOGGER_CONFIGFILE=loggerConfig.json
LOGGER_OUTFILE=history.log

TREND_FILENAME=trend.log

CHANNEL=#cointracker
ICON_URL=http://localhost/
WEB_TOKEN=xoxp-14663517xxxx-{web_token}

HISTOGRAM=150
STOCHASTIC=150
BOUNDARY=300
VOLUME=200
SLOPE=250
HILOW=150
INFORM=300

COINS_NAME=Bitcoin CASH,Bitcoin,Ethereum,Bitcoin Gold
COINS_KEY=BCH,BTC,ETH,BTG
COINS_CMD=c,b,e,g
